* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111827;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #facc15;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.search-box input {
  padding: 12px;
  width: 300px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

.search-box button {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background-color: #facc15;
  cursor: pointer;
  font-weight: bold;
}

.search-box button:hover {
  opacity: 0.9;
}

.message {
  text-align: center;
  margin-bottom: 20px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #1f2937;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-card h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.movie-card p {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.5;
}